// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600;700&family=Montserrat:wght@300;400;600;700&display=swap");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import "mat-palette-gen.scss";

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
/* For use in src/lib/core/theming/_palette.scss */
$primary-color: #f65058;
$accent-color: #d9cb9e;

$primary-palette: createPalette($primary-color);
$accent-palette: createPalette($accent-color);

$my-typography: mat.define-typography-config(
  $font-family: "Oswald",
);

$myflix-angular-primary: mat.define-palette($primary-palette);
$myflix-angular-accent: mat.define-palette(mat.$blue-grey-palette);

// The warn palette is optional (defaults to red).
$myflix-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$myflix-angular-theme: mat.define-dark-theme(
  (
    color: (
      primary: $myflix-angular-primary,
      accent: $myflix-angular-accent,
      warn: $myflix-angular-warn,
    ),
    typography: $my-typography,
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($myflix-angular-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, "Oswald", Roboto, "Helvetica Neue", "Noto Sans",
    "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
